body {
  font-family: 'Roboto', sans-serif;
  background-color: #fdfdfd;
  color: #333;
  padding: 20px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: #2c3e50;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-left: 10px;
}

.primary {
  background-color: #0077b6; 
}

.secondary {
  background-color: #90e0ef; 
}
.wireframe img{
    width: 50px;
}